.modal {
  z-index: 100;
  position: fixed;
  top: 10vh;
  left: 10%;
  width: 80%;
  height: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  overflow-y: auto;
}

.modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: rgb(0, 49, 82);
  color: white;
  border-top-left-radius: 7px;
  /* border-top-right-radius: 7px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
}

.modal__footer {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
}

/* @media (min-width: 768px) {
  .modal {
    left: calc(50%-20rem);
    width: 40rem;
  }
} */

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}

.modal::-webkit-scrollbar {
  width: 0.5rem;
  /* border-radius: 8px; */
}

.modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
