body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(0, 49, 82);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.section-expand-enter {
  /* transform: translateY(-100%); */
  opacity: 0;
}

.section-expand-enter-active {
  /* transform: translateY(0); */
  opacity: 1;
  transition: all 200ms;
}

.section-expand-exit {
  /* transform: translateY(0%); */
  opacity: 1;
}

.section-expand-exit-active {
  /* transform: translateY(-100%); */
  opacity: 0;
  transition: all 200ms;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}
